@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #4F000B;
}

p {
    color: black;
    padding: 0px;
    margin: 0px;
    margin-bottom: 0px;
}

a, button {
    transition: all .2s ease;
}

a, a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p {
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    margin: 0px;
}

label {
    margin-bottom: 0;
}

.scrolltotop {
    width: 40px;
    height: 40px;
    border-radius: 20px 20px 0 0;
    background: rgba(0, 0, 0, .5);
    display: block;
    text-align: center;
    padding-top: 8px;
    font-size: 22px;
    color: #ffffff;
    position: fixed;
    right: 5px;
    bottom: 5px;
    display: none;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}

.scrolltotop:hover {
    background: #000;
    color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

body {
    font-family: 'Source Serif Pro';
    background-color: #FFFDF5;
    font-size: 30px;
    color: black;
}

.container {
    max-width: 1050px;
    padding-right: 15px;
    Padding-left: 15px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row>div {
    padding-right: 15px;
    padding-left: 15px;
}

.top-header {
    height: 300px;
    background-image: url(header-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

header {
    background-color: #FFBC55;
    padding: 22px 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menu-item ul {
    display: flex;
    flex: 1;
}

/*
.nav-calc-container {
    padding-left: calc((100% - 1000px) / 2);
}
*/

.menu-item ul li a {
    color: rgba(0, 0, 0, 0.89);
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
    padding-right: 50px;
    transition: .5s;
}

.menu-item ul li a:hover {
    color: #8C52FF;
}

.drop_down a img {
    display: inline-block;
    padding-left: 10px;
}

.drop_down {
    position: relative;
}

.drop_down>ul {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    min-width: 100%;
    width: 120px;
    text-align: left;
    box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.1);
    padding: 1.1rem 0;
    transition: 0.3s;
    opacity: 0;
    pointer-events: none;
    z-index: 111;
    display: block;
}

.drop_down:hover>ul {
    opacity: 1;
    pointer-events: all;
}

.drop_down>ul>li {
    padding-right: 0px;
}

.drop_down>ul>li>a {
    display: block;
    padding: 10px 20px;
    font-size: 25px;
}

.drop_down>ul>li>a:hover {
    background-color: #4F000B;
    color: #fff;
}



.right-menu {
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.logo {
    position: relative;
}

.logo a {
    position: absolute;
    top: -250px;
    left: -112px;
    display: block;
}

.logo img {
    max-width: 300px;
}

.search-bar {
    padding-right: 20px;
}

.search-bar input {
    width: 250px;
    max-width: 100%;
    color: rgba(0, 0, 0, 0.75);
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.06px;
    display: block;
    padding: 12px;
    border-radius: 30px;
    border: 1px solid #000;
    outline: none;
    background-image: url(carbon_search.png);
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.hamburger {
    display: none;
}

.hamburger span i {
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
}

.mobile-menu-area {
    background-color: #FFBC55;
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-left: -100%;
    transition: .5s;
    position: absolute;
    padding-top: 20px;
}

.ac-menu {
    margin-left: 0px;
}

.monile-menu-item ul li {
    text-align: center;
}

.mobile-menu-item ul li a {
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
    padding: 10px 10px;
    width: 100%;
}

.mobile-menu-item ul li a:hover {
    color: #fff;
    background-color: #4F000B;
}

.mobile-menu-item ul li a i {
    margin-left: 10px;
}

.sub-m-item {
    display: none;
}

.trending-area {
    padding: 77px 0;
}

.trending-wrapper {
    display: flex;
}

.trending-left {
    width: 60%;
}

.trending-right {
    width: 40%;
    margin-left: 80px;
}

.trending-left-item-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 30px;
}

.trending-left-img-item {
    text-align: center;
}

.trending-left-img-item img {
    width: 100%;
}

.trending-left-img-item p {
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 14px;
}

.trending-left-img-item h6 {
    color: #000;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
    text-align: center;
    display: none;
}

.labl {
    display: block;
    max-width: 100%;
    margin-bottom: 7px;
}

.labl>input {
    visibility: hidden;
    position: absolute;
}

.labl>input+div {
    cursor: pointer;
    border: 2px solid transparent;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: rgba(255, 226, 141, 0.80);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.labl>input:checked+div {
    color: #000;
    background-color: #ffd6bb;
}

#trending-header h2 {
    color: #4F000B;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;
    text-align: center;
    margin-bottom: 25px;
}



.poll-inner {
    padding: 0 30px 30px 30px;
}

.poll img {
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
}

.poll h3 {
    color: #4F000B;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
    text-align: center;
    margin-top: 10px;
}

.poll p {
    color: #000;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 7px;
}

#poll-result {
    display: none; 
    background-color: #f5f5f5;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
    
}

#poll-result h3 {
    font-size: 23px;
    margin-bottom: 10px;
}

#poll-result p {
    background-color: #e1e1e1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
 
}

#poll-result.show {
    opacity: 1;
}

.new-recipes-area {
    padding: 0 0 150px 0;
}

.new-recipe-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.new-recipe-items {
    width: 50%;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 50px;
}

.new-rec-title {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-bottom: 33px;
}

.new-rec-title h2 {
    color: #4F000B;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;
}

.new-rec-title ul {
    display: flex;
    align-items: center;
}

.new-rec-title ul li {
    color: #000;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.9px;
}

.new-rec-title ul li:first-of-type {
    padding-left: 50px;
}

.new-rec-title ul li a {
    color: #8C52FF;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.9px;
    display: inline-block;
    padding-left: 100px;
}

.new-recipe-img img {
    width: 100%;
}

.new-recipe-img {
    position: relative;
}

.new-recipe-items h6 {
    color: #000;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
    text-align: center;
}

.new-recipe-items p {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.9px;
    text-align: center;
}

.new-recipe-items span {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.9px;
    display: inline-block;
    padding: 5px 25px;
    background: #D00000;
    position: absolute;
    top: 0px;
    left: 0px;
}

.new-rec-title2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 33px;
}

.new-rec-title2 h2 {
    color: #4F000B;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;
    width: 50%;
}

.new-rec-title2 ul {
    width: 50%;
}

.new-rec-title2 ul li {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.9px;
    padding-left: 55px;
}

.newrct3 {
    text-align: right;
    padding-right: 20px;
}

.newrct3l {
    padding-left: 20px;
}

footer {
    text-align: center;
    background-color: #FFFDF6;
    color: white;
    background-image: url('Footer.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    padding: 177px 0 30px;
    text-align: left;
    object-fit: cover;
}

.footer-container {
    max-width: 1300px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.footer-lef-col {
    width: 50%;
}

.footer-right-col {
    width: 25%;
}

.f-logo {
    margin-top: -310px;
    padding-bottom: 71px;
}

.f-logo img {
    width: 200px;
}

.footer-left-item h2 {
    color: #4F000B;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;
}

.footer-left-item p {
    color: #000;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 36px;
}

.footer-left-item p a {
    color: #8C52FF;
}

.footer-left-item h3 {
    color: #4F000B;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
    margin-bottom: 9px;
}

.social-icon {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.social-icon li {
    padding-right: 20px;
}

.social-icon li a:hover {
    transform: scale(1.2);
}

.footer-link h2 {
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}

.footer-link ul li a {
    color: #383838;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
    margin-bottom: 10px;
}

.footer-link ul li a:hover {
    color: #4F000B;
}

.tram-link {
    display: flex;
    align-items: center;
}

.tram-link li {
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.60);
}
.body-overflows{
    overflow: hidden;
}

.tram-link li a {
    color: rgba(0, 0, 0, 0.60);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
    padding-right: 10px;
}

.tram-link li a:hover {
    color: #4F000B;
}

.copy-right-text p {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: right;
}

/* about me page */ 

.about-story {
 
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.about-story h1 {
    margin-top: 80px;
    color: #4F000B;
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;

}

.about-story p {
    color: #000;
    font-size: 23px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.about-us {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 150px;
}

.about-us h1 {
    color: #4F000B;
    font-size: 45px;
    margin-bottom: 20px;
}

.team-member {
    display: flex;
    margin-bottom: 60px;
    align-items: flex-start;
}

.team-member img {
    width: 400px;
    height:  500px;

    object-fit: cover;
    margin-right: 50px;
}

.team-description {
    flex: 1; 
    text-align: left;
}


.team-description p {
    color: #000;
    font-size: 23px;
    line-height: 1.5;
}




/* Additional styles and media queries can be added based on your design needs */




/* 
@media screen and (min-width: 2000px)  {
    .nav-calc-container {
        padding-left: calc((100% - 2000px) / 2);
    }
}

@media screen and (min-width: 1600px) and (max-width: 2000px) { 
    .nav-calc-container {
        padding-left: calc((100% - 1500px) / 2);
    }
}
*/

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .top-header {
        height: 144px;
    }
    header {
        background-color: #FFBC55;
        padding: 20px 0;
    }
    .mobile-menu-area {
        display: block;
    }
    .logo {
        display: block;
    }
    .logo a {
        position: absolute;
        top: -70px;
        left: 0px;
    }
    .logo img {
        max-width: 100px;
    }
    .hamburger {
        display: block;
        padding-right: 15px;
    }
    .menu-item {
        display: none;
    }
    
    .trending-area {
        padding: 77px 0;
    }
    .trending-wrapper {
        display: block;
    }
    .trending-left {
        width: 100%;
    }
    .trending-right {
        width: 100%;
        margin-left: 0px;
    }
    .trending-left-item-inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px 30px;
        margin-bottom: 20px;
    }
    .poll h3 {
        color: #4F000B;
        font-size: 27px;
    }

    nav {
        display: flex;
        justify-content:space-between !important;
    }


    #trending-header h2 {
        color: #4F000B;
        font-size: 25px;
    }
    .new-rec-title {
        display: block;
    }
    .new-rec-title ul li:first-of-type {
        padding-left: 0px;
    }
    .new-rec-title h2 {
        font-size: 32px;
        margin-bottom: 10px;
        text-align: center;
    }
    .new-rec-title ul li a {
        padding-left: 0px;
    }
    .new-rec-title ul {
        display: block;
        align-items: center;
        text-align: center;
    }
    .new-rec-title2 h2 {
        color: #4F000B;
        font-size: 37px;
    }
    .new-rec-title2 h2 {
        color: #4F000B;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2.4px;
        padding-left: 0px;
    }
    .new-recipe-items h6 {
        color: #000;
        font-size: 26px;
    }
}

@media screen and (max-width: 767px) {
    .top-header {
        height: 60px;
    }
    header {
        background-color: #FFBC55;
        padding: 20px 0;
    }
    .mobile-menu-area {
        display: block;
    }
    .logo {
        display: block;
    }
    .logo a {
        position: absolute;
        top: -70px;
        left: 0px;
    }

    nav {
        display: flex;
        justify-content:space-between !important;
    }
    .logo img {
        max-width: 100px;
    }
    .hamburger {
        display: block;
        padding-right: 15px;
    }
    .menu-item {
        display: none;
    }

    .trending-area {
        padding: 77px 0;
    }
    .trending-wrapper {
        display: block;
    }
    .trending-left {
        width: 100%;
    }
    
    .trending-right {
        width: 100%;
        margin-left: 0px;
    }
    .trending-left-item-inner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px 30px;
    }

    .trending-left-img-item h6 {
        display: grid;
        color: #000;
        font-size: 32px;
    }

    .trending-left-img-item p {
        display: none;
    }

    .poll h3 {
        color: #4F000B;
        font-size: 27px;
        margin-top: 10px;
    }
    .poll p {
        margin-bottom: 10px;
    }
    #trending-header h2 {
        color: #4F000B;
        font-size: 32px;
    }
  
    .new-rec-title {
        display: block;
    }
    .new-rec-title ul li:first-of-type {
        padding-left: 0px;
    }
    .new-rec-title h2 {
        font-size: 32px;
        margin-bottom: 10px;
        text-align: center;
    }
    .new-rec-title ul li a {
        padding-left: 0px;
    }
    .new-rec-title ul {
        display: block;
        align-items: center;
        text-align: center;
    }
    .new-recipe-wrapper {
        display: block;
    }
    .new-recipe-items {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        margin-bottom: 30px;
    }
    .new-rec-title2 h2 {
        color: #4F000B;
        font-size: 37px;
    }
    .new-rec-title2 {
        display: block;
    }
    .new-rec-title2 h2 {
        color: #4F000B;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2.4px;
        width: 100%;
        padding-left: 0px;
    }
    .newrct3 {
        padding: 0px;
        padding-left: 0px;
        text-align: center;
    }
    .new-rec-title2 ul {
        width: 100%;
        text-align: center;
    }
    .newrct3l {
        padding-left: 0px;
        width: 100%;
    }
    .new-recipes-area {
        padding: 0px 0 40px 0;
    }
    .poll-inner {
        padding: 0px;
    }
    .new-recipe-items h6 {
        color: #000;
        font-size: 26px;
    }

    .footer-wrapper {
        display: block;
    }
    .footer-lef-col {
        width: 100%;
    }
    .footer-right-col {
        width: 100%;
    }
    .tram-link li a {
        color: rgba(0, 0, 0, 0.60);
        font-size: 13px;
    }
    .footer-left-item h2 {
        color: #4F000B;
        font-size: 33px;
    }
    .f-logo img {
        width: 105px;
    }
    footer {
        text-align: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top left;
    }
    .social-icon {
        justify-content: center;
    }
    .tram-link {
        justify-content: center;
        margin-bottom: 20px;
    }
    .f-logo {
        margin-top: -208px;
        padding-bottom: 0px;
    }
    .team-member {
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
        margin-bottom: 0px;
    }
    .team-member img {
        margin-right: 0; 
        margin-bottom: 20px; 
        width: 100%;
        height: 100%;
    }
    .about-us { 
        margin-bottom: 10px;
    }
    .about-story {
        margin-bottom: 0;
    }
    .team-description 
    {
        margin-bottom: 10px;
    }
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('fonts/SourceSerifPro-Bold.eot');
    src: url('fonts/SourceSerifPro-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/SourceSerifPro-Bold.woff2') format('woff2'), url('fonts/SourceSerifPro-Bold.woff') format('woff'), url('fonts/SourceSerifPro-Bold.ttf') format('truetype'), url('fonts/SourceSerifPro-Bold.svg#SourceSerifPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Source Serif Pro';
    src: url('fonts/SourceSerifPro-Regular.eot');
    src: url('fonts/SourceSerifPro-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/SourceSerifPro-Regular.woff2') format('woff2'), url('fonts/SourceSerifPro-Regular.woff') format('woff'), url('fonts/SourceSerifPro-Regular.ttf') format('truetype'), url('fonts/SourceSerifPro-Regular.svg#SourceSerifPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}